nav {
     width: 40vw;
}

nav .first {
     display: flex;
     justify-content: space-between;
}

a,.second li,.third li, .forth li{
     text-decoration: none;
     color: white;
     background-color: rgb(116, 116, 196);
     padding: 10px;
     font-weight: 400;
     border-radius: 4px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

li {
     list-style-type: none;
}
.second{
     padding:10px 0;
     display: flex;
     gap:20px;
     justify-content: space-around;
}
.third li{
     text-align: end;
}
.forth{
     display:flex;
     justify-content: center;
}