.main {
     height: 500px;
     width: 300px;
     border: 0.5px solid black;
     border-radius: 20px;
     padding: 10px;
     margin: 50px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: whitesmoke;
}

.photo {
     height: 250px;
}

img {
     height: 100%;
     width: 100%;
     border-radius: 20px;

}

span p {
     border: 0.5px solid gray;
     padding: 4px;
     margin: 10px;
     width: 18%;
     font-size: x-small;
     height: 15px;
     color: gray;
     border-radius: 15px;
     text-align: center;
     margin-right: 1px;
     display: inline-block;
}

h3,
p {
     margin: 0;
     padding: 5px;
     color: #212221;
}

.button {
     /* width: 80px;
     height: 25px;
     position: relative;
     left: 35%;
     top: 4%; */
     /* border-radius: 15px;
     background-color: lightblue; */
     padding-top: 12px;;
text-align: center;
}
.button button{
     border-radius: 15px;
     padding:10px 15px;
     background-color: lightblue;
     border:none;
     color: blue;
     margin:3px;
     font-weight: bold;
     font-size: x-small;
}